.App {
text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  
}
.contact {
  padding: 0 10px;
  text-align: left;
  position: relative;
  margin: 20px;
  border: 2px solid black;
  width: 350px;
   height: 25px;
  background-color: aquamarine;
  overflow: hidden;
 
}

.open {
  height: 200px;
}


.icon-trash {
  position: absolute;
  left :15px;
  }

  .icon-toogle {
    position: absolute;
    right: 15px;
  }

body {
  background-color: cadetblue;

}

.headContact {
  border :2px solid black;
  display: flex;
  justify-content: space-between;
  align-items: center;

}

.headContact {
  border :2px solid black;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 10px 0;

}

.headContact * {
  margin: 0 10px;
 
}

.contact h2 {
  display: inline;
  padding-top: 10px;
}

.icon-plus {
  position: absolute;
  right:5px;
  top:5px;
}

.icon-plus:hover{
 fill:wheat;
}

form {
  width:350px;
  height: 250px;
  border:2px solid black;
}

form label ,form input {
  width: 90%;
  margin: 5px 0;
}